/*
  © Copyright IBM Corporation 2023. All Rights Reserved 
   
  SPDX-License-Identifier: EPL-2.0
*/
.margin-bottom-1 {
  margin-bottom: 1rem;
}

.side-nav {
  margin-top: 3rem;
  border-right: solid #f3f3f3;
  z-index: 7999;
}
