<aiap-modal-v1
  size="lg"
  [open]="isOpen" 
  (overlaySelected)="close()">
  <aiap-modal-v1-header-v1 
    (closeSelect)="close()">
    <h3 ibmModalHeaderHeading>{{ 'ai_translation_services_v1.save_modal_v1.header.title' | translate }}</h3>
  </aiap-modal-v1-header-v1>
  <section ibmModalContent>
      <form #aiTranslationServiceSaveModal="ngForm">
        <!-- Cross-Site Request Forgery [START] -->
        <input type="hidden" name="csrftoken" value="1df93e1eafa42012f9a8aff062eeb1db0380b">
        <!-- Cross-Site Request Forgery [END] -->
        <div ibmGrid>
          <div ibmRow>
            <div ibmCol [columnNumbers]="{'xlg': 12, 'lg': 12,  'md': 8, 'sm': 4}">
              <!-- TODO: wrap tabs -->
              <ibm-tabs>
                <ibm-tab 
                  heading="{{ 'ai_translation_services_view_v1.save_modal_v1.tab_header_general' | translate }}">
                  <aiap-ai-translation-service-tab-general-v1
                    #aiTranslationServiceTabGeneral 
                    [(state)]="state" 
                    [(aiTranslationService)]="aiTranslationService">
                  </aiap-ai-translation-service-tab-general-v1>
                </ibm-tab>
                <ibm-tab                 
                  heading="{{ 'ai_translation_services_view_v1.save_modal_v1.tab_header_external' | translate }}">
                  <aiap-ai-translation-service-tab-external-v1
                    #aiTranslationServiceTabExternal 
                    [(state)]="state" 
                    [(aiTranslationService)]="aiTranslationService">
                  </aiap-ai-translation-service-tab-external-v1>
                </ibm-tab>
              </ibm-tabs>
            </div>
          </div>
        </div>
      </form>
  </section>
  <aiap-modal-v1-footer-v1>
    <aiap-button-v1
      class="width50"
      [text]="'ai_translation_services_v1.save_modal_v1.btn_close.text' | translate"
      [tooltip]="'ai_translation_services_v1.save_modal_v1.btn_close.tooltip' | translate"
      [type]="'secondary'"
      (onClick)="close()">
    </aiap-button-v1>
    <aiap-button-v1
      class="width50"
      [text]="'ai_translation_services_v1.save_modal_v1.btn_save.text' | translate"
      [tooltip]="'ai_translation_services_v1.save_modal_v1.btn_save.tooltip' | translate"
      [skeleton]="isLoading"
      [disabled]="aiTranslationServiceSaveModal.invalid"
      [type]="'primary'"
      (onClick)="save()">
    </aiap-button-v1>
  </aiap-modal-v1-footer-v1>
</aiap-modal-v1>
