/*
	© Copyright IBM Corporation 2022. All Rights Reserved

	SPDX-License-Identifier: EPL-2.0
*/
aiap-jobs-queues-delete-modal-v1 {
  .confirm-deletion-modal {
    padding: 10px
  }

  .bx--btn {
    justify-content: center;
    padding-right: 15px;
  }
}
