/*
	© Copyright IBM Corporation 2022. All Rights Reserved 
	 
	SPDX-License-Identifier: EPL-2.0
*/
@import "variables";

aca-chat-window-panel {
  position: absolute;
  z-index: 2147480000;

  .chat--window {
    background-color: $aca_primary_color_gray;
    display: grid;

    &.minimized {
      min-height: 0px;
      min-width: 0px;

      .chat--body {
        display: none;
      }
    }

    &.maximized {
      min-height: 600px;
      min-width: 450px;
      box-shadow: 0 0 16px 4px rgba(0, 0, 0, 0.35);
    }

    .resizable--draggable {
      left: unset;
      right: 0;
    }

    .chat--body {
      width: 100%;
      display: grid;
      grid-template-areas: "sidebar button main";
      grid-template-rows: auto;
      grid-column: 1;
      grid-row: 1;
      background-color: $aca_primary_color_gray;
    }

    .resize--action {
      position: absolute;
      left: 100%;
      top: 100%;
      z-index: 2000;
      transform: translate3d(-50%, -50%, 0) rotateZ(45deg);
      border-style: solid;
      border-width: 8px;
      border-color: transparent transparent transparent $aca_primary_color_blue;
      &:hover,
      &:active {
        cursor: nwse-resize;
      }
    }
  }

  .aiap-header {
    cursor: all-scroll;
  }

  .cursor-grab {
    cursor: grabbing;
  }
}
