/*
	© Copyright IBM Corporation 2022. All Rights Reserved 
	 
	SPDX-License-Identifier: EPL-2.0
*/
aca-engagement-styles-tab {
  overflow: hidden;
  margin-top: 20px;

  .bx--grid {
    margin-left: 0px;
    margin-right: 0px;
    padding: 0px;
  }

  .aca-monaco-editor-container {
    min-height: 70hv;
  }

  .aca-monaco-editor {
    height: 75vh;
  }

}