/*
	© Copyright IBM Corporation 2022. All Rights Reserved 
	 
	SPDX-License-Identifier: EPL-2.0
*/
aiap-rules-conditions-save-modal-v2 {
  .bx--col {
    padding: 0;
  }

  .bx--text-input:disabled {
    border: 1px solid #c6c6c6;
  }

  .bx--modal {
    .bx--modal-container {
      min-height: unset;
      min-width: 100px;
    }
  }

  .bx--text-input__invalid-icon {
    transform: translateY(0);
  }
}
