/*
	© Copyright IBM Corporation 2022. All Rights Reserved 
	 
	SPDX-License-Identifier: EPL-2.0
*/
aiap-wbc-validation-engagements-actions-tab-v1 {
  overflow: hidden;
  margin-top: 20px;

  .bx--grid {
    margin-left: 0px;
    margin-right: 0px;
    padding: 0px;
  }

  .aiap-monaco-editor-container {
    min-height: 70hv;
  }

  .aiap-monaco-editor {
    height: 85vh;
  }
}
