<aiap-modal-v1 
    [open]="isOpen" 
    (overlaySelected)="close()" 
    size='sm'>
    <aiap-modal-v1-header-v1
        (closeSelect)="close()">
        <h3 ibmModalHeaderHeading>Synchronise AI Skills by AI Service export files</h3>
    </aiap-modal-v1-header-v1>
    <div class="bx--modal-content bx--modal-content--with-form">
        <aiap-file-uploader-v2
         #fileUploader
         [title]="'ai_service_v1.sync_by_file_modal_v1.file_uploader.title' | translate" 
         [description]="'ai_service_v1.sync_by_file_modal_v1.file_uploader.description' | translate"
         [accept]="['.json']"
         [multiple]="false" 
         [drop]="true" 
         [dropText]="'ai_service_v1.sync_by_file_modal_v1.file_uploader.dropText' | translate"
         [disabled]="false"
         [(files)]="files"
         (filesChange)="handleFilesChangeEvent($event)">
        </aiap-file-uploader-v2>
    </div>
    <aiap-modal-v1-footer-v1>
        <aiap-button-v1
          class="width50"
          [text]="'ai_service_v1.sync_by_file_modal_v1.btn_close.text' | translate"
          [tooltip]="'ai_service_v1.sync_by_file_modal_v1.btn_close.tooltip' | translate"
          [type]="'secondary'"
          (onClick)="close()">
        </aiap-button-v1>
        <aiap-button-v1
          class="width50"
          [text]="'ai_service_v1.sync_by_file_modal_v1.btn_synchronise.text' | translate"
          [tooltip]="'ai_service_v1.sync_by_file_modal_v1.btn_synchronise.tooltip' | translate"
          [disabled]="isSynchronisationDisabled()"
          [type]="'primary'"
          (onClick)="synchronise()">
        </aiap-button-v1>
    </aiap-modal-v1-footer-v1>
</aiap-modal-v1>
