<div ibmGrid>
  <div ibmRow>
    <div ibmCol [columnNumbers]="{'xlg': 12, 'lg': 12,  'md': 8, 'sm': 4}">
      <aiap-field-input-v1
        [isRequired]="true"
        [name]="'ai_translation_service_name'"
        [label]="'ai_translation_services_v1.save_modal_v1.fld_name.label' | translate"
        [labelHelp]="'ai_translation_services_v1.save_modal_v1.fld_name.labelHelp' | translate"
        [(value)]="aiTranslationService.name"
        [placeholder]="'ai_translation_services_v1.save_modal_v1.fld_name.placeholder' | translate"
        [skeleton]="state.isLoading">
      </aiap-field-input-v1>
    </div>
  </div>
  <div ibmRow>&nbsp;</div>
  <div ibmRow>
    <div ibmCol [columnNumbers]="{'xlg': 12, 'lg': 12,  'md': 8, 'sm': 4}">
      <aiap-field-dropdown-v1
        [isRequired]="true"
        [type]="'single'"
        [size]="'lg'"
        [name]="'ai_translation_service_type'"
        [label]="'ai_translation_services_v1.save_modal_v1.fld_type.label' | translate"
        [labelHelp]="'ai_translation_services_v1.save_modal_v1.fld_type.labelHelp' | translate"
        [placeholder]="'ai_translation_services_v1.save_modal_v1.fld_type.placeholder' | translate"
        [items]="state.selections?.types"
        [(value)]="state.selections.type"
        (onSelected)="handleTypeSelectedEvent($event)">
      </aiap-field-dropdown-v1>
    </div>
  </div>
</div>
