<ibm-header 
  [name]="appBuildTimestamp">
  <aiap-header-hamburger-menu-v1></aiap-header-hamburger-menu-v1>
  <aiap-header-applications-menu-v1 
    [user]="user">
  </aiap-header-applications-menu-v1>
  <ibm-header-global>
    <ibm-header-navigation class="bx--header__global">
      <aiap-header-tenants-menu-v1 
        [user]="user">
      </aiap-header-tenants-menu-v1>
      <aiap-header-language-menu-v1>
      </aiap-header-language-menu-v1>
      <aiap-header-zoom-menu-v1>
      </aiap-header-zoom-menu-v1>
      <aiap-header-admin-menu-v1>
      </aiap-header-admin-menu-v1>
      <aiap-header-user-menu-v1 
        [user]="user">
      </aiap-header-user-menu-v1>
    </ibm-header-navigation>
  </ibm-header-global>
</ibm-header>
