/*
	© Copyright IBM Corporation 2022. All Rights Reserved 
	 
	SPDX-License-Identifier: EPL-2.0
*/
aiap-ai-service-external-wa-versions-v1 {
  background: transparent;

  ibm-accordion {
    min-width: 100%;
  }
}
