/*
	© Copyright IBM Corporation 2022. All Rights Reserved 
	 
	SPDX-License-Identifier: EPL-2.0
*/
@import "variables";

#aca-test-cases-modal {
    
    .aca--modal--description {
        width: 100%;
        margin-bottom: 1rem;
    }

    .form--group--box {
        margin-bottom: 1rem;
    }

    .btn--color {
        background-color: $aca_primary_color_white;
        border: 1.5px solid $aca_secondary_color_blue;
        color: $aca_secondary_color_blue;
        border-radius: 100px;
    }
}
