<aiap-modal-v1 
  size='md' 
  [open]="isOpen" 
  (overlaySelected)="close()">
  <aiap-modal-v1-header-v1 
    (closeSelect)="close()">
    <p ibmModalHeaderHeading>
      {{ 'object_storage_files_view_v1.delete_modal_v1.header' | translate }}
    </p>
  </aiap-modal-v1-header-v1>
  <aiap-modal-v1-content-v1>
    <div>
      <p>{{ 'object_storage_files_view_v1.delete_modal_v1.content' | translate }}:</p>
      <ul ibmList>
        <ng-container *ngFor="let id of ids">
          <li 
            ibmListItem>{{id}}
          </li>
        </ng-container>
      </ul>
    </div>
  </aiap-modal-v1-content-v1>
  <aiap-modal-v1-footer-v1>
    <aiap-button-v1
      [text]="'object_storage_files_view_v1.delete_modal_v1.btn_cancel.text' | translate"
      [type]="'secondary'"
      (onClick)="handleEventClose($event)">
    </aiap-button-v1>
    <aiap-button-v1
      [text]="'object_storage_files_view_v1.delete_modal_v1.btn_delete.text' | translate"
      [type]="'danger'"
      (onClick)="handleEventDelete($event)">
    </aiap-button-v1>
  </aiap-modal-v1-footer-v1>
</aiap-modal-v1>
