<aiap-modal-v1 [open]="isOpen" (overlaySelected)="close()" size="sm">
  <aiap-modal-v1-header-v1 (closeSelect)="close()">
    <p class="bx--modal-header__heading bx--type-beta">
      {{ 'classification_catalog_delete_modal_v1.header' | translate }}
    </p>
  </aiap-modal-v1-header-v1>
  <aiap-modal-v1-content-v1>
    <div class="classification-catalogs-delete-modal-container">
      <p>{{ 'classification_catalog_delete_modal_v1.content' | translate }}</p>
      <ul ibmList>
        <ng-container *ngFor="let key of keys">
          <li ibmListItem>{{key}}</li>
        </ng-container>
      </ul>
    </div>
  </aiap-modal-v1-content-v1>
  <aiap-modal-v1-footer-v1>
    <aiap-button-v1
      [text]="'classification_catalog_delete_modal_v1.btn_cancel.text' | translate"
      [type]="'secondary'"
      (onClick)="close()">
    </aiap-button-v1>
    <aiap-button-v1
      [text]="'classification_catalog_delete_modal_v1.btn_delete.text' | translate"
      [type]="'danger'"
      (onClick)="handleDeleteManyByIds()">
    </aiap-button-v1>
  </aiap-modal-v1-footer-v1>
</aiap-modal-v1>
