/*
	© Copyright IBM Corporation 2022. All Rights Reserved

	SPDX-License-Identifier: EPL-2.0
*/
aiap-classification-catalog-delete-modal-v1 {
  .bx--btn {
    justify-content: center;
    padding-right: 15px;
  }

  .classification-catalogs-delete-modal-container {
    padding: 10px;
  }
}
