<div 
  class="aca--wbc--banner">
  <a 
  class="aca--wbc--banner--link"
  [href]="'https://pages.github.ibm.com/AIAP/docs-book/'"
  target="_blank">
    <div class="aca--wbc--banner--image--container">
      <img
      class="aca--wbc--banner--image"
      [src]="'http://localhost:3000/client-wbc/aiap-base-content/assets/banner-photo-left-panel.jpeg'" />
    </div>

    <div class="aca--wbc--banner--footer--container">
      <p class="aca--wbc--banner--footer--text">AIAP</p>
      <div class="aca--wbc--banner--link--image"></div>
    </div>
  </a>
</div>
