/*
	© Copyright IBM Corporation 2022. All Rights Reserved 
	 
	SPDX-License-Identifier: EPL-2.0
*/
aca-engagement-chat-app-tab {

  .engagement-chat-app-grid-col {
    min-height: 60vh;
  }

  ::ng-deep {
    .jsoneditor {
      &.jsoneditor {
        border-color: black;
        height: 600px;

        .jsoneditor-menu {
          border-color: black;
          background-color: black;
        }
      }
    }

    .bx--grid {
      margin-left: 0px;
      margin-right: 0px;
      padding: 0px;
    }
  }
}
