<form>
    <!-- Cross-Site Request Forgery [START] -->
    <input 
      type="hidden" 
      name="csrftoken" 
      value="1df93e1eafa42012f9a8aff062eeb1db0380b">
    <!-- Cross-Site Request Forgery [END] -->
    <p 
      class="bottom-margin">
      {{ 'login_view_v1.password_renewal_form_v1.content' | translate }}
    </p>
    <div 
      data-notification
      *ngIf="error" 
      class="bx--inline-notification bx--inline-notification--error bottom-margin" 
      role="alert">
      <div 
        class="bx--inline-notification__details">
        <svg 
          icon
          class="bx--inline-notification__icon"  
          ibmIcon="error--filled" 
          size="20">
        </svg>
        <div 
          class="bx--inline-notification__text-wrapper">
          <p 
            class="bx--inline-notification__subtitle">{{ errorMessage | translate }}
          </p>
        </div>
      </div>
      <button 
        data-notification-btn 
        class="bx--inline-notification__close-button" 
        type="button"
        aria-label="close">
        <svg 
          icon 
          class="bx--inline-notification__close-icon" 
          ibmIcon="close--filled" 
          size="16">
        </svg>
      </button>
    </div>
    
    <div 
      data-text-input 
      class="bx--form-item bx--text-input-wrapper bx--password-input-wrapper bottom-margin">
      <label 
        for="text-input-1" 
        class="bx--label">
        {{ 'login_view_v1.password_renewal_form_v1.fld_password.label' | translate }}
      </label>
      <div 
        class="bx--text-input__field-wrapper">
        <input
          data-toggle-password-visibility
          id="text-input-1" 
          class="bx--text-input bx--password-input bx--text-input--light"
          type="password" 
          name="password" 
          placeholder="{{ 'login_view_v1.password_renewal_form_v1.fld_password.placeholder' | translate }}"
          autocomplete="off"
          (focus)="onFocusPassword()" 
          [(ngModel)]="password" >
          <aiap-password-visibility-toggle-v1></aiap-password-visibility-toggle-v1>
        </div>
      </div>
    <div 
      data-text-input 
      class="bx--form-item bx--text-input-wrapper bx--password-input-wrapper bottom-margin">
      <label 
        for="text-input-2" 
        class="bx--label">
        {{ 'login_view_v1.password_renewal_form_v1.fld_password_repeat.label' | translate }}
      </label>
      <div 
        class="bx--text-input__field-wrapper">
        <input
          data-toggle-password-visibility
          id="text-input-2"
          class="bx--text-input bx--password-input bx--text-input--light"
          autocomplete="off"
          name="password-repeat"
          placeholder="{{ 'login_view_v1.password_renewal_form_v1.fld_password_repeat.placeholder' | translate }}"
          type="password"
          (focus)="onFocusPassword()"
          [(ngModel)]="passwordRepeat">
          <aiap-password-visibility-toggle-v1></aiap-password-visibility-toggle-v1>
        </div>
    </div>

    <aiap-button-v1
      [text]="'login_view_v1.password_renewal_form_v1.btn_update.text' | translate"
      [tooltip]="'login_view_v1.password_renewal_form_v1.btn_update.tooltip' | translate"
      [type]="'primary'"
      (onClick)="onSubmit()">
  </aiap-button-v1>
</form>
