/*
	© Copyright IBM Corporation 2022. All Rights Reserved 
	 
	SPDX-License-Identifier: EPL-2.0
*/
aca-buy-rule-save-modal {
  aca-buy-rules-suppliers-save-modal {
    .bx--text-input:disabled {
      border: 1px solid #c6c6c6;
    }

    .bx--modal-container {
      min-height: unset;
      min-width: unset;
    }
  }
}
