<ibm-modal
  size='xs'
  [open]="isOpen" 
  (overlaySelected)="close()">
  <ibm-modal-header (closeSelect)="close()">
    <p 
      class="bx--modal-header__heading bx--type-beta">
      {{'rule_messages_import_v1.clear_modal_v1.header' | translate}}
    </p>
  </ibm-modal-header>
  <section ibmModalContent>
    <span>
      {{'rule_messages_import_v1.clear_modal_v1.clear_confirmation' | translate}}
    </span>
  </section>
  <ibm-modal-footer>
    <aiap-button-v1
      [type]="'secondary'"
      [text]="'rule_messages_import_v1.clear_modal_v1.cancel_button_text' | translate"
      [tooltip]="'rule_messages_import_v1.clear_modal_v1.cancel_button_tooltip' | translate"
      (onClick)="close()">
    </aiap-button-v1>
    <aiap-button-v1
      [type]="'danger'"
      [text]="'rule_messages_import_v1.clear_modal_v1.clear_button_text' | translate"
      [tooltip]="'rule_messages_import_v1.clear_modal_v1.clear_button_tooltip' | translate"
      (onClick)="clear()">
    </aiap-button-v1>
  </ibm-modal-footer>
</ibm-modal>
