/*
	© Copyright IBM Corporation 2022. All Rights Reserved 
	 
	SPDX-License-Identifier: EPL-2.0
*/
aca-catalog-rule-save-modal {
  aca-catalog-rules-catalog-save-modal {
    .bx--text-input:disabled {
      border: 1px solid #c6c6c6;
    }
    .bx--modal-container {
      min-height: unset;
      min-width: unset;
    }
  }
}
