/*
	© Copyright IBM Corporation 2022. All Rights Reserved 
	 
	SPDX-License-Identifier: EPL-2.0
*/
@use "./ai-search-and-analysis-service-external-wds-save-form-v1/ai-search-and-analysis-service-external-wds-save-form-v1.scss";

aiap-ai-search-and-analysis-service-save-modal-v1 {
  .password-field-container {
    width: 100%;

    button:hover {
      background-color: transparent;
    }

    ::-ms-reveal {
      display: none;
    }
  }

  .bx--btn {
    justify-content: center;
  }
}
