<aiap-modal-v1
  [size]="'lg'"
  [open]="isOpen" 
  (overlaySelected)="close()">
  <aiap-modal-v1-header-v1 
    (closeSelect)="close()">
    <h3 ibmModalHeaderHeading>
      {{ 'ai_search_and_analysis_services_view_v1.save_modal_v1.header' | translate }}
    </h3>
  </aiap-modal-v1-header-v1>
  <aiap-modal-v1-content-v1>
    <form #aiSearchAndAnalysisServiceSaveModal="ngForm">
      <div ibmGrid>
        <div ibmRow>
          <div ibmCol [columnNumbers]="{'md': 4, 'sm': 2}">
            <aiap-field-input-v1
              [name]="'ai_search_and_analysis_service_name'"
              [label]="'ai_search_and_analysis_services_view_v1.save_modal_v1.fld_name.label' | translate"
              [skeleton]="isLoading"
              [isRequired]="true"
              [(value)]="aiSearchAndAnalysisService.name">
            </aiap-field-input-v1>  
          </div>
          <div ibmCol [columnNumbers]="{'md': 4, 'sm': 2}">
            <ibm-dropdown
              required
              name="ai_search_and_analysis_service_type"
              [label]="'ai_search_and_analysis_services_view_v1.save_modal_v1.fld_type.label' | translate"
              [placeholder]="'ai_search_and_analysis_services_view.save_modal.fld_type.placeholder' | translate"
              [skeleton]="isLoading"
              (selected)="onTypeSelected()"
              [(ngModel)]="selections.type">
              <ibm-dropdown-list 
                [items]="selections?.types">
              </ibm-dropdown-list>
            </ibm-dropdown>
          </div>
        </div>
        <div ibmRow>&nbsp;</div>
        <div ibmRow>
          <div ibmCol [columnNumbers]="{'xlg': 12, 'lg': 12,  'md': 4, 'sm': 2}">
            <aiap-ai-search-and-analysis-service-external-wds-save-form-v1
              [skeleton]="isLoading"
              [(value)]="aiSearchAndAnalysisService.external"
              [(selections)]="selections">
            </aiap-ai-search-and-analysis-service-external-wds-save-form-v1>
          </div>
        </div>
      </div>
    </form>
  </aiap-modal-v1-content-v1>
  <aiap-modal-v1-footer-v1>
    <aiap-button-v1
      [text]="'ai_search_and_analysis_services_view_v1.save_modal_v1.btn_close.text' | translate"
      [type]="'secondary'"
      (onClick)="handleEventClose($event)">
    </aiap-button-v1>
    <aiap-button-v1
      [text]="'ai_search_and_analysis_services_view_v1.save_modal_v1.btn_save.text' | translate"
      [type]="'primary'"
      [skeleton]="isLoading"
      [disabled]="aiSearchAndAnalysisServiceSaveModal.invalid"
      (onClick)="handleEventSave($event)">
    </aiap-button-v1>
  </aiap-modal-v1-footer-v1>
</aiap-modal-v1>
