/*
	© Copyright IBM Corporation 2022. All Rights Reserved 
	 
	SPDX-License-Identifier: EPL-2.0
*/
aiap-ai-service-delete-modal-v1 {
  .width50 {
    width: 50%;
  }

  .width50 > button {
    width: 100%;
  }

}
