app-suggestions {
  .fade-in { animation: fadeIn 1s; }
  .suggestions {
    background-color: #e6e6e6;
      overflow-y: auto;
      position: fixed;
      display: block;
      z-index: 1001;
      bottom: 31px;
      left: 0;
      width: 100%;
      border-radius: 5px 5px 0 0;
      border-top: 1px solid #c0c0c0;
      border-right: 1px solid #c0c0c0;
      border-bottom: 1px solid #c0c0c0;
      border-left: 1px solid #c0c0c0;
      font-size: 13px;
      .autocomplete {
        padding: 5px;
        list-style: none;
        li {
          padding:5px;
          cursor: pointer;
          &:hover {
            background-color: #c0c0c0;
          }
        }
      }
  }
  @keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
}