/*
	© Copyright IBM Corporation 2022. All Rights Reserved 
	 
	SPDX-License-Identifier: EPL-2.0
*/
aiap-translation-prompt-test-modal-v1 {
  overflow: hidden;

  button {
    justify-content: center;
  }

  .bx--grid {
    margin-left: 0px;
    margin-right: 0px;
    min-width: 100%;
  }

  .bx--modal-container {
    min-height: 100vh;
    min-width: 100%;
  }

  .jsoneditor {
    &.jsoneditor {
      border-color: black;
      height: 400px;

      .jsoneditor-menu {
        border-color: black;
        background-color: black;
      }
    }
  }

  .bx--btn {
    justify-content: center;
    padding-right: 15px;
  }

  .width50 {
    width: 50%;
  }

  .width50 > button {
    width: 100%;
  }
}
