<div class="dashboards-wrapper">
  <div class="dashboards-content">
    <aiap-bread-crumb-v2
      [outlet]="outlet">
    </aiap-bread-crumb-v2>
    <div class="page-dashboards" ibmGrid>
      <div ibmRow>
        <div ibmCol [columnNumbers]="{'xlg': 12, 'lg': 12, 'md': 8, 'sm': 4}">
          <aiap-date-range-picker-v1
            [value]="state.query.filter.dateRange"
            (onChange)="handleEventDateRangeChange($event)">
          </aiap-date-range-picker-v1>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="dashboard-wrapper">
  <div class="dashboard-content">
    <aiap-dashboards-models-changes-table-v1
      (onShowSavePlace)="handleEventShowTransaction($event)"
      (onSearchChangeEvent)="handleEventSearchChange($event)"
      (onSearchClearEvent)="handleEventSearchClear($event)">
    </aiap-dashboards-models-changes-table-v1>
  </div>
</div>

<aiap-dashboards-model-change-view-modal-v1
  #dashboardsModelChangeViewModalV1>
</aiap-dashboards-model-change-view-modal-v1>
