/*
	© Copyright IBM Corporation 2022. All Rights Reserved 
	 
	SPDX-License-Identifier: EPL-2.0
*/
aca-ai-translation-prompt-import-modal {
  .bx--btn {
    justify-content: center;
    padding-right: 15px;
  }

  .width50 {
    width: 50%;
  }

  .width50 > button {
    width: 100%;
  }
}
