/*
	© Copyright IBM Corporation 2022. All Rights Reserved 
	 
	SPDX-License-Identifier: EPL-2.0
*/
@use "./validation-engagements-actions-tab-v1/validation-engagements-actions-tab-v1.scss";
@use "./validation-engagements-general-tab-v1/validation-engagements-general-tab-v1.scss";
@use "./validation-engagements-schema-tab-v1/validation-engagements-schema-tab-v1.scss";

aiap-wbc-validation-engagements-save-modal-v1 {
  overflow: hidden;

  .bx--modal-content--overflow-indicator {
    display: none;
  }

  .bx--grid {
    margin-left: 1rem;
    margin-right: 1rem;
    padding-right: 0px;
    padding-left: 0px;
    max-width: 100%;
  }

  .bx--modal-container {
    min-height: 100vh;
    min-width: 100%;
  }

  .bx--tab-content {
    padding-left: 0;
    padding-right: 0;

    &:focus {
      outline: none;
    }
  }

  .bx--btn {
    justify-content: center;
  }

  ibm-modal-footer {
    position: fixed;
    bottom: 0;
    width: 100%;
  }
}
