<div class="filters-wrapper">
  <div class="filters-content">
    <aiap-bread-crumb-v2
      [outlet]="outlet">
    </aiap-bread-crumb-v2>
  </div>
</div>

<div class="dashboard-wrapper">
  <div class="dashboard-content">
    <aiap-object-storage-files-table-v1
      (onSearchPlace)="handleSearchChangeEvent($event)"
      (onClearPlace)="handleSearchClearEvent($event)"
      (onShowSavePlace)="handleShowSavePlaceEvent($event)"
      (onShowRemovePlace)="handleShowRemovePlaceEvent($event)"
      (onShowRowClickPlace)="handleShowSavePlaceEvent($event)">
    </aiap-object-storage-files-table-v1>
  </div>
</div>

<aiap-object-storage-file-save-modal-v1
  #objectStorageFileSaveModal>
</aiap-object-storage-file-save-modal-v1>

<aiap-object-storage-files-delete-modal-v1
  #objectStorageFilesDeleteModal>
</aiap-object-storage-files-delete-modal-v1>
