/*
	© Copyright IBM Corporation 2022. All Rights Reserved 
	 
	SPDX-License-Identifier: EPL-2.0
*/
aiap-object-storage-file-save-modal-v1 {
  .bx--btn {
    justify-content: center;
  }

  aiap-field-combo-box-singular-v1 input {
    background: white;
  }

  // .aiap-field-files-uploader-singular-v1-hide-drop-box {
  //   .bx--file__drop-container {
  //     display: none;
  //   }
  // }
}
