/*
	© Copyright IBM Corporation 2022. All Rights Reserved 
	 
	SPDX-License-Identifier: EPL-2.0
*/
@import "variables";
// @import "~bootstrap/scss/bootstrap";

aca-chat-main-view {
  grid-area: main;

  #main {
    height: 100%;
    background-color: #f4f4f4;
    overflow-y: auto;
    overflow-x: hidden;
    display: block;
    z-index: 1010;
    position: relative;
    left: 0;
    top: 0;
    
    > .left-panel-button-visible {
      padding-left: 27px;
    }

    .header--not-found {
      position: absolute;
      top: 0;
      background-color: $aca_primary_color_blue;
      display: flex;
      width: 100%;
      z-index: 99999;
      align-items: center;
      justify-content: center;
      color: #fff;
      height: 50px;
  
      div[role=button]img {
        width: 30px;
        margin-right: 6px;
        margin-left: 6px;
      }
    }
  }

  .message--row.message--float.clearfix.w-100.ACA_DEBUG {
    padding-top: 5px;
    padding-bottom: 0px;
    margin-bottom: 0px;
  }

  .message--row.message--float.clearfix.w-100.ACA_ERROR {
    padding-top: 5px;
    padding-bottom: 0px;
    margin-bottom: 0px;
  }

  .message--row {
    padding: 1px 0 1px 0;
    margin-bottom: 20px;

    &.message--float,
    .message--float {
      clear: both;
    }

    &.bot {
      padding-left: 34px;
      padding-right: 34px;

      &.message--float,
      .message--float {
        float: left;

        .persona-icon {
          position: absolute;
          left: -34px;
          top: 0px;
          width: 34px;
          height: 34px;
        }

        .icon--bot {
          background-image: url("../../../assets/va-logo-blue.svg");
          top: -5px;
        }
      }

      .message--bubble {
        color: $aca_primary_color_black;
      }
    }

    &.agent {
      padding-left: 34px;
      padding-right: 34px;

      &.message--float,
      .message--float {
        float: left;

        .persona-icon {
          position: absolute;
          left: -34px;
          top: 0px;
          width: 30px;
          height: 30px;
        }

        .icon--agent {
          background-image: url("../../../assets/help-desk.svg");
        }
      }

      .message--bubble {
        color: $aca_primary_color_black;
      }
    }

    &:first-child {
      padding-top: 15px;
    }

    &:last-child {
      padding-bottom: 10px;
    }

    &.message--break {
      padding-bottom: 10px;
    }

    .message--content {
      position: relative;
      &:first-child {
        margin-top: 0;
      }
    }

    .message--bubble {
      overflow-wrap: break-spaces;
      word-wrap: break-spaces;
      -ms-word-break: break-spaces;
      word-break: break-word;
      -ms-hyphens: none;
      -moz-hyphens: none;
      -webkit-hyphens: none;
      hyphens: none;
      padding: 0.5em;
      font-size: $aca_primary_font_size;
      line-height: 1.3;
    }
  }

  .message--session--ended {
    padding-bottom: 10px;

    p {
      color: $aca_primary_color_blue;
      font-size: 12px;
      line-height: 11px;
    }
  }
}
