/*
	© Copyright IBM Corporation 2022. All Rights Reserved 
	 
	SPDX-License-Identifier: EPL-2.0
*/
aiap-answer-store-import-modal-v1 {
  aiap-button-v1 {
    display: contents;
  }

  .bx--btn {
    justify-content: center;
    padding-right: 15px;
  }
}
