/*
	© Copyright IBM Corporation 2022. All Rights Reserved 
	 
	SPDX-License-Identifier: EPL-2.0
*/
.margin-bottom-30 {
  margin-bottom: 30px !important;
}

.margin-top-20 {
  margin-top: 20px !important;
}

.margin-top-5 {
  margin-top: 5px !important;
}

.padding-0 {
  padding: 0 !important;
}

.padding-bottom-8 {
  padding-bottom: 8px !important;
}
