/*
	© Copyright IBM Corporation 2022. All Rights Reserved 
	 
	SPDX-License-Identifier: EPL-2.0
*/
@import "variables";

aca-chat-loading-view {
    .spinner--box{
        display: flex;
        position: fixed;
        height: 100%;
        width: 100%;
        align-items: center;
        justify-content: center;

        .spinner--element {
          margin: auto;
        }
    }
}
