<div class="filters-wrapper">
  <div class="filters-content">
    <aiap-bread-crumb-v2  
      [outlet]="outlet">
    </aiap-bread-crumb-v2>
    <div class="page-filters" ibmGrid>
      <div ibmRow>
        <div ibmCol [columnNumbers]="{'xlg': 12, 'lg': 12, 'md': 8, 'sm': 4}">
          <aiap-date-range-picker-v1
            [value]="state.dateRange"
            (onChange)="handleDateRangeChange($event)"></aiap-date-range-picker-v1>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="dashboard-wrapper">
  <div class="dashboard-content">
    <aiap-ai-services-changes-table-v1
      (onSearchChangeEvent)="handleSearchChangeEvent($event)"
      (onSearchClearEvent)="handleSearchClearEvent($event)"  
      (onShowSavePlace)="handleShowTransactionEvent($event)">
    </aiap-ai-services-changes-table-v1>
  </div>
</div>

<aiap-ai-service-change-view-modal-v1 #AiServiceChangeViewV1></aiap-ai-service-change-view-modal-v1>
