<aiap-modal-v1 
  [size]="'md'"
  [open]="isOpen" 
  (overlaySelected)="close()">
  <aiap-modal-v1-header-v1 
    (closeSelect)="close()">
    <p ibmModalHeaderHeading>
      {{ 'ai_search_and_analysis_collections_view_v1.delete_modal_v1.header' | translate }}
    </p>
  </aiap-modal-v1-header-v1>
  <aiap-modal-v1-content-v1>
    <div>
      <p class="padding-bottom-8">
        <span 
          class="font-bold">
          {{ 'ai_search_and_analysis_collections_view_v1.delete_modal_v1.note_title' | translate }}
        </span>
          {{ 'ai_search_and_analysis_collections_view_v1.delete_modal_v1.note_content' | translate }}
      </p>
      <p>
          {{ 'ai_search_and_analysis_collections_view_v1.delete_modal_v1.fld_confirm' | translate }}
      </p>
      <ul ibmList>
        <ng-container *ngFor="let id of ids">
          <li ibmListItem>{{id}}</li>
        </ng-container>
      </ul>
    </div>
  </aiap-modal-v1-content-v1>
  <aiap-modal-v1-footer-v1>
    <aiap-button-v1
      [text]="'filters_configuration_view_v1.delete_modal_v1.btn_cancel.text' | translate"
      [type]="'secondary'"
      (onClick)="handleEventClose($event)">
    </aiap-button-v1>
    <aiap-button-v1
      [text]="'ai_search_and_analysis_collections_view_v1.delete_modal_v1.btn_delete.text' | translate"
      [type]="'danger'"
      (onClick)="handleEventDelete($event)">
    </aiap-button-v1>
  </aiap-modal-v1-footer-v1>
</aiap-modal-v1>
