/*
  © Copyright IBM Corporation 2022. All Rights Reserved 
   
  SPDX-License-Identifier: EPL-2.0
*/
aiap-admin-view-body-v1 {
  aiap-icon-svg-v1 {
    fill: white;
  }

  // .main-view-container {
  //   margin-top: 3vh;
  // }
  .subtract {
    margin: 0px;
    padding: 0px;
  }
  .hide-sidenav {
    visibility: hidden;
  }
}
