/*
	© Copyright IBM Corporation 2022. All Rights Reserved 
	 
	SPDX-License-Identifier: EPL-2.0
*/
aiap-ai-skill-manage-modal-v1 {
  overflow-y: scroll;
  overflow-x: hidden;

  .bx--grid {
    min-width: 100%;
  }

  .bx--modal-container {
    min-height: 100vh;
    min-width: 100%;
  }

  .bx--modal-content--overflow-indicator {
    height: 1px;
  }

  .bx--btn {
    justify-content: center;
  }

  .flex-grow {
    flex-grow: 1;
  }
}
