/*
	© Copyright IBM Corporation 2022. All Rights Reserved 
	 
	SPDX-License-Identifier: EPL-2.0
*/
aiap-main-view-native-body-v1 {
  // .main-view-container {
  //   margin-top: 3vh;
  // }

  .subtract {
    margin: 0px;
    padding: 0px;
  }

  .hide-sidenav {
    visibility: hidden;
  }

  .bx--side-nav {
    z-index: 7999;
  }
}
