/*
	© Copyright IBM Corporation 2022. All Rights Reserved 
	 
	SPDX-License-Identifier: EPL-2.0
*/
@import "variables";
@import "./app/app.component.scss";

aca-chat-app {
   @import "@fortawesome/fontawesome-free/scss/fontawesome";
   @import "@fortawesome/fontawesome-free/scss/solid";
   @import "@fortawesome/fontawesome-free/scss/brands";
   @import "@fortawesome/fontawesome-free/scss/regular";
   @import "bootstrap/scss/bootstrap";
   // @import "~hds-core/lib/icons/icon.css";
   // @import "~hds-core/lib/icons/all.min.css";
   //
   font: 400 normal normal 16px/1.3 Arial, sans-serif;
   color: $aca_primary_color_black;
   //
   .form-control:focus,
   .form-control.focus,
   .btn:focus,
   .btn.focus,
   button:focus,
   .btn-primary:focus,
   .btn-primary.focus,
   .btn-primary:not(:disabled):not(.disabled):active:focus,
   .btn-primary:not(:disabled):not(.disabled).active:focus,
   .show > .btn-primary.dropdown-toggle:focus,
   .btn-outline-primary:not(:disabled):not(.disabled):active:focus,
   .btn-outline-primary:not(:disabled):not(.disabled).active:focus,
   .show > .btn-outline-primary.dropdown-toggle:focus,
   .btn-danger:focus,
   .btn-danger.focus,
   .btn-danger:not(:disabled):not(.disabled):active:focus,
   .btn-danger:not(:disabled):not(.disabled).active:focus,
   .show > .btn-danger.dropdown-toggle:focus,
   .btn-outline-danger:not(:disabled):not(.disabled):active:focus,
   .btn-outline-danger:not(:disabled):not(.disabled).active:focus,
   .show > .btn-outline-danger.dropdown-toggle:focus {
      box-shadow: $aca_default_box_shadow_focus;
      -webkit-box-shadow: $aca_default_box_shadow_focus;
   }

   .btn-primary:hover,
   .btn-primary:focus,
   .btn-primary:active,
   .btn-primary.active,
   .open > .dropdown-toggle.btn-primary {
      color: $aca_primary_color_white;
      border-color: $aca_secondary_color_blue;
      background-color: $aca_secondary_color_blue;
   }

   input:focus {
      box-shadow: none;
      -webkit-box-shadow: none;
   }

   .img--close {
      width: 35px;
      color: $aca_header_text_color;
      display: block;

      &:hover {
         background-color: $aca_secondary_color_blue;
      }
   }
}
