<div class="filters-wrapper">
  <div class="filters-content">
    <aiap-bread-crumb-v2 [outlet]="outlet"></aiap-bread-crumb-v2>
  </div>
</div>

<div class="dashboard-wrapper">
  <div class="dashboard-content">
    <aiap-lambda-modules-configurations-table-v1
      (onSearchChangeEvent)="handleSearchChangeEvent($event)"
      (onSearchClearEvent)="handleSearchClearEvent($event)" 
      (onShowImportPlace)="handleShowImportModal($event)"
      (onShowSavePlace)="handleLambdaModuleConfigSaveModal($event)"
      (onShowRemovePlace)="handleLambdaModuleConfigDeleteModal($event)">
    </aiap-lambda-modules-configurations-table-v1>
  </div>
</div>

<aiap-lambda-modules-configurations-save-modal-v1 #lambdaModulesConfigurationSaveModal></aiap-lambda-modules-configurations-save-modal-v1>
<aiap-lambda-modules-configurations-delete-modal-v1 #lambdaModulesConfigurationDeleteModal></aiap-lambda-modules-configurations-delete-modal-v1>
<aiap-lambda-modules-configurations-import-modal-v1 #lambdaModulesConfigurationImportModal></aiap-lambda-modules-configurations-import-modal-v1>
