/*
	© Copyright IBM Corporation 2022. All Rights Reserved 
	 
	SPDX-License-Identifier: EPL-2.0
*/
aiap-ai-translation-model-example-import-modal-v1 {
  .bx--btn {
    justify-content: center;
    padding-right: 15px;
  }

  .width50 {
    width: 50%;
  }

  .width50 > button {
    width: 100%;
  }
}
