/*
	© Copyright IBM Corporation 2022. All Rights Reserved 
	 
	SPDX-License-Identifier: EPL-2.0
*/
aca-chat-debug-notification {
  background: transparent;

  .message--notification.message--float.w-100 {
    padding-bottom: 0px;
  }

  .aca-chat-debug-notification-text {
    cursor: pointer;
    padding: 5px;
    border-bottom: 1px solid transparent;
  }

  .aca-chat-debug-notification-text:hover {
    border-bottom: 1px solid #0056b8;
  }

  .aca-json-viewer {
    border: solid 1px #0056b8;
    padding: 10px;
    margin-top: 10px;
  }
}
