<ng-template #loading>
  <div class="placeholder-glow"></div>
</ng-template>
<ng-template #error>
  <div class="loading-dots">
      <div class="alert alert-warning" role="alert">
          <div class="warning-box">
              <div>
                  {{state.errorMessage}}
              </div>
          </div>
      </div>
  </div>
</ng-template>

<div class="left--panel--inner">
  <ng-container *ngFor="let component of _components; let i = index; trackBy:getItemTracker" [ngSwitch]="component.component">
    <ng-container *ngSwitchCase="'separator'">
      <hr class="left--panel--content--separator" />
    </ng-container>
    <ng-container *ngSwitchDefault>
    <ax-lazy-element
    [configs]="component.configs"
    (onWbcEvent)="handleUserActionEvent($event)" 
    [message]="component.params"
    *axLazyElementDynamic="component.component, url: url(component); loadingTemplate: loading; errorTemplate: error;">
    </ax-lazy-element>
    </ng-container>
  </ng-container>
</div>
