<div *ngIf="isReady()" [ngClass]="getActiveClassNames()">
  <div class="aca-wbc-mult-response-v2">
    <ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0">
      <ngb-panel *ngIf="message?.attachment?.answersPrimary?.length > 0">
        <ng-container *ngFor="let answer of message?.attachment?.answersPrimary">
          <ng-template ngbPanelTitle>
            <span>{{answer?.title}}</span>
          </ng-template>
          <ng-template ngbPanelContent>
            <aiap-answer-comp
              [message]="message"
              [answer]="answer"
              (onBtnClickEvent)="handleAnswerBtnClickEvent($event)"
              (onFeedbackClickEvent)="handleFeedbackClickEvent($event)">
            </aiap-answer-comp>
          </ng-template>
        </ng-container>
      </ngb-panel>
      <ngb-panel *ngFor="let answer of message?.attachment?.answersSecondary">
        <ng-template ngbPanelTitle>
          <span>{{answer?.title}}</span>
        </ng-template>
        <ng-template ngbPanelContent>
          <aiap-answer-comp
            [message]="message"
            [answer]="answer"
            (onBtnClickEvent)="handleAnswerBtnClickEvent($event)"
            (onFeedbackClickEvent)="handleFeedbackClickEvent($event)">
          </aiap-answer-comp>
        </ng-template>
      </ngb-panel>
    </ngb-accordion>
  </div>
</div>
