<aiap-table-v1-container-v1>
  <aiap-table-v1-toolbar-content-v1>
    <aiap-button-v1
      [tooltip]="'ai_search_and_analysis_services_table_v1.btn_refresh.tooltip' | translate"
      [type]="'ghost'"
      [icon]="'assets/carbon-icons/16/operations/renew.svg'"
      (onClick)="handleRefreshClickEvent($event)">
    </aiap-button-v1>
    <aiap-table-v1-toolbar-search-v1
      [search]="state.search"
      (onSearchChange)="emitSearchPlace($event)"
      (onSearchClear)="emitClearPlace($event)">
    </aiap-table-v1-toolbar-search-v1>
    <aiap-button-v1
      *isActionAllowed="{action:'ai-search-and-analysis-services.view.add'}"
      [text]="'ai_search_and_analysis_services_table_v1.btn_add.text' | translate"
      [tooltip]="'ai_search_and_analysis_services_table_v1.btn_add.tooltip' | translate"
      [type]="'primary'"
      [icon]="'assets/carbon-icons/16/navigation/add.svg'"
      (onClick)="emitShowSavePlace()">
    </aiap-button-v1>
    <aiap-button-v1
      *isActionAllowed="{action:'ai-search-and-analysis-services.view.import'}"
      [text]="'ai_search_and_analysis_services_table_v1.btn_import.text' | translate"
      [tooltip]="'ai_search_and_analysis_services_table_v1.btn_import.tooltip' | translate"
      [type]="'primary'"
      [icon]="'assets/carbon-icons/16/file/document--import.svg'"
      (onClick)="emitShowImportPlace()">
    </aiap-button-v1>
    <aiap-button-v1
      *isActionAllowed="{action:'ai-search-and-analysis-services.view.export'}"
      [text]="'ai_search_and_analysis_services_table_v1.btn_export.text' | translate"
      [tooltip]="'ai_search_and_analysis_services_table_v1.btn_export.tooltip' | translate"
      [type]="'primary'"
      [icon]="'assets/carbon-icons/16/technology/cloud--download.svg'"
      (onClick)="exportMany()">
    </aiap-button-v1>
    <aiap-button-v1
      *isActionAllowed="{action:'ai-search-and-analysis-services.view.delete'}"
      [text]="'ai_search_and_analysis_services_table_v1.btn_remove.text' | translate"
      [tooltip]="'ai_search_and_analysis_services_table_v1.btn_remove.tooltip' | translate"
      [type]="'danger'"
      [icon]="'assets/carbon-icons/16/formatting/trash-can.svg'"
      [disabled]="isRemoveDisabled()"
      (onClick)="emitRemovePlace()">
    </aiap-button-v1>
  </aiap-table-v1-toolbar-content-v1>
  <aiap-table-v1
    [model]="model"
    (onAllSelect)="handleEventAllSelect($event)"
    (onAllDeselect)="handleEventAllDeselect($event)"
    (onRowSelect)="handleEventRowSelect($event)"
    (onRowDeselect)="handleEventRowDeselect($event)"
    (onRowClick)="emitShowRowClickPlace($event)"
    (onSort)="handleEventSort($event)">
  </aiap-table-v1>
  <aiap-table-v1-pagination-v1
    [model]="model"
    [options]="itemsPerPageOptions"
    (onPageSelect)="handleSelectPageEvent($event)">
  </aiap-table-v1-pagination-v1>
  
  <ng-template 
    #externalTemplate 
    let-data="data">
    <div ibmGrid [condensed]="true">
      <div ibmRow [leftGutter]="false" [rightGutter]="false">
        <div ibmCol>
          <ibm-label>{{data?.external?.url }}</ibm-label>
        </div>
      </div>
    </div>
  </ng-template>

  <ng-template 
    #createdTemplate 
    let-data="data">
    <aiap-table-cell-created-v1 
      [value]="data?.created">
    </aiap-table-cell-created-v1>
  </ng-template>

  <ng-template 
    #updatedTemplate 
    let-data="data">
    <aiap-table-cell-updated-v1 
      [value]="data?.updated">
    </aiap-table-cell-updated-v1>
  </ng-template>

  <ng-template 
    #overflowActionsTemplate 
    let-data="data">
    <aiap-button-v1
      *isActionAllowed="{action:'ai-search-and-analysis-services.view.edit'}"
      class="bx--overflow-menu center-horizontal"
      [type]="'ghost'"
      [icon]="'assets/carbon-icons/16/controls/settings.svg'"
      (onClick)="emitSearchAndAnalysisServicesSavePlace($event, data)">
    </aiap-button-v1>
  </ng-template>

<aiap-table-v1-container-v1>
