/*
	© Copyright IBM Corporation 2022. All Rights Reserved 
	 
	SPDX-License-Identifier: EPL-2.0
*/
aiap-ai-skill-pull-modal-v1 {
  overflow: hidden;

  ul {
    margin-left: 15px;
  }

  .bx--btn {
    justify-content: center;
  }

  .width50 {
    width: 50%;
  }

  .width50 > button {
    width: 100%;
  }
}
