/*
	© Copyright IBM Corporation 2022. All Rights Reserved 
	 
	SPDX-License-Identifier: EPL-2.0
*/
@import "variables";

aca-chat-intents-menu-attachment {
  .intents-tabs {
    border-radius: 10px;
    border: 1.5px solid $aca_secondary_color_blue;
    color: $aca_secondary_color_blue;
    background-color: transparent;
    -webkit-box-shadow: none;
  }

  .intents-tabs-active,
  .intents-tabs:hover {
    border-radius: 10px;
    border: 1.5px solid $aca_secondary_color_blue;
    background-color: $aca_secondary_color_blue;
    color: $aca_primary_color_white;
    -webkit-box-shadow: none;
  }

  #topSearches {
    border-right: none;
  }

  .tab-content {
    border: 1px solid $aca_secondary_color_blue;
    border-radius: 10px;
    padding: 0 0.5rem 0.5rem 0.5rem;

    .intents-btns {
      border: 1px solid $aca_secondary_color_blue;
      color: $aca_secondary_color_blue;
      background-color: transparent;
      border-radius: 5px;
      margin-top: 0.5rem;
      padding: 0.2rem;

      &:hover {
        background-color: $aca_secondary_color_blue;
        color: $aca_primary_color_white;
        -webkit-box-shadow: none;
      }
    }
  }
}
