/*
	© Copyright IBM Corporation 2022. All Rights Reserved 
	 
	SPDX-License-Identifier: EPL-2.0
*/
aiap-ai-skill-test-modal-v1 {
    input.ng-touched.ng-invalid {
        border: 1px solid red;
    }

    .text-danger {
        color: red;
        font-size: 12px;
    }

    .bx--label {
        margin-top: 5px;
    }
    .bx--tooltip-icon {
        position: absolute;
        margin-left: 5px;

        svg {
            width: 0.75rem;
            height: 0.75rem;
        }
    }

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    input[type="number"] {
        -moz-appearance: textfield;
    }
}
