<div 
  *ngIf="configuration && configuration.elements.tiles"
  class="totals-content">
  <div ibmGrid>
    <div ibmRow [gutter]="false" [condensed]="true">
      <ng-container *ngFor="let tile of configuration?.elements?.tiles">
        <div ibmCol [columnNumbers]="tile?.columns? tile.columns: {'xlg': 2, 'lg': 4, 'md': 4, 'sm': 4}" >
          <aiap-live-analytics-tile-metric-v2
            *ngIf="tile.ref"
            [tileRef]="tile.ref"
            [configuration]="configuration">
          </aiap-live-analytics-tile-metric-v2>
        </div>
      </ng-container>
    </div>
  </div>
</div>
