/*
	© Copyright IBM Corporation 2022. All Rights Reserved 
	 
	SPDX-License-Identifier: EPL-2.0
*/
/*
	© Copyright IBM Corporation 2022. All Rights Reserved 
	 
	SPDX-License-Identifier: EPL-2.0
*/
@use "./rule-actions-delete-modal-v1/rule-actions-delete-modal-v1.scss";
@use "./rule-actions-import-modal-v1/rule-actions-import-modal-v1.scss";
@use "./rule-actions-save-modal-v1/rule-actions-save-modal-v1.scss";

aiap-wbc-rule-actions-view-v1 {
  background: inherit;
}
