<form>
    <!-- Cross-Site Request Forgery [START] -->
    <input 
      type="hidden" 
      name="csrftoken" 
      value="1df93e1eafa42012f9a8aff062eeb1db0380b">
    <!-- Cross-Site Request Forgery [END] -->
    <div 
      data-notification
      *ngIf="error" 
      class="bx--inline-notification bx--inline-notification--error bottom-margin" 
      role="alert">
      <div 
        class="bx--inline-notification__details">
        <svg 
          icon
          class="bx--inline-notification__icon"
          ibmIcon="error--filled"  
          size="20">
        </svg>
        <div 
          class="bx--inline-notification__text-wrapper">
          <p 
            class="bx--inline-notification__title">
            {{ 'login_view_v1.user_credentials_form_v1.msg_err_login_failure' | translate }}
          </p>
          <p class="bx--inline-notification__subtitle">
            {{ errorMessage | translate }}
          </p>
        </div>
      </div>
      <button 
        data-notification-btn 
        class="bx--inline-notification__close-button" 
        type="button"
        aria-label="close">
        <svg 
          icon
          class="bx--inline-notification__close-icon" 
          ibmIcon="close--filled"
          size="16">
        </svg>
      </button>
    </div>

    <div 
      data-text-input class="bx--form-item bottom-margin">
      <label 
        for="text-input-1" 
        class="bx--label">
        {{ 'login_view_v1.user_credentials_form_v1.fld_email.label' | translate }}
      </label>
      <input 
        id="text-input-1" 
        type="text"
        name="username"
        placeholder="{{ 'login_view_v1.user_credentials_form_v1.fld_email.placeholder' | translate }}"
        autocomplete="on"
        class="bx--text-input bx--text-input--light"
        (focus)="onFocusPassword()" 
        [(ngModel)]="username">
    </div>

    <div 
      data-text-input 
      class="bx--form-item bx--text-input-wrapper bx--password-input-wrapper bottom-margin">
      <label 
        for="text-input-2" 
        class="bx--label">
        {{ 'login_view_v1.user_credentials_form_v1.fld_password.label' | translate }}
      </label>
      <div 
        class="bx--text-input__field-wrapper">
        <input
          data-toggle-password-visibility
          id="text-input-2" 
          type="password"
          name="password" 
          placeholder="{{ 'login_view_v1.user_credentials_form_v1.fld_password.placeholder' | translate }}"
          autocomplete="off" 
          class="bx--text-input bx--password-input bx--text-input--light"
          (focus)="onFocusPassword()" 
          [(ngModel)]="password">
        <aiap-password-visibility-toggle-v1></aiap-password-visibility-toggle-v1>
      </div>
    </div>

    <p 
      class="bottom-margin">
      {{ 'login_view_v1.user_credentials_form_v1.consent' | translate }}
    </p>
    <aiap-button-v1
      [text]="'login_view_v1.user_credentials_form_v1.btn_login.text' | translate"
      [tooltip]="'login_view_v1.user_credentials_form_v1.btn_login.tooltip' | translate"
      [type]="'primary'"
      (onClick)="onSubmit()">
    </aiap-button-v1>
    <aiap-button-v1
      *ngIf="ssoConfig" 
      [text]="'login_view_v1.user_credentials_form_v1.btn_login_sso.text' | translate"
      [tooltip]="'login_view_v1.user_credentials_form_v1.btn_login_sso.tooltip' | translate"
      [type]="'ghost'"
      (onClick)="onLoginWithSSO()">
    </aiap-button-v1>
  </form>

  <div
    #datamodal
    data-modal 
    class="bx--modal" 
    role="dialog" 
    aria-modal="true" 
    tabindex="-1">
    <div 
      class="bx--modal-container">
      <div 
        class="bx--modal-header">
        <p 
          class="bx--modal-header__heading bx--type-beta" 
          id="modal-bwd2esl9n7r-heading">
          {{ 'login_view_v1.user_credentials_form_v1.message_insuficient_rights' | translate }}
        </p>
        <button
          data-modal-close 
          class="bx--modal-close" 
          type="button" 
          aria-label="close modal">
          <svg 
            focusable="false" 
            preserveAspectRatio="xMidYMid meet" 
            style="will-change: transform;"
            xmlns="http://www.w3.org/2000/svg" 
            class="bx--modal-close__icon" 
            width="16" 
            height="16" 
            viewBox="0 0 16 16"
            aria-hidden="true">
            <path 
              d="M12 4.7l-.7-.7L8 7.3 4.7 4l-.7.7L7.3 8 4 11.3l.7.7L8 8.7l3.3 3.3.7-.7L8.7 8z" 
              fill-rule="nonzero">
            </path>
          </svg>
        </button>
      </div>
      <div class="bx--modal-content">
        <p>
          {{ 'login_view_v1.user_credentials_form_v1.text_insuficient_rights' | translate }}
        </p>
      </div>
      <div 
        class="bx--modal-footer">
        <button 
          data-modal-close
          class="bx--btn bx--btn--secondary"
          type="button">
          {{ 'login_view_v1.user_credentials_form_v1.btn_understood.text' | translate }}
        </button>
      </div>
    </div>
  </div>
