/*
  © Copyright IBM Corporation 2022. All Rights Reserved 
   
  SPDX-License-Identifier: EPL-2.0
*/
:host {
  .modal-header {
    display: flex;
    button {
      margin-left: auto;
      width: 30px;
    }
  }

  .modal-footer {
    button {
      width: 100%;
    }
  }

  .modal-body {
    margin: 4px;
  }
}
