/*
	© Copyright IBM Corporation 2022. All Rights Reserved 
	 
	SPDX-License-Identifier: EPL-2.0
*/
aiap-live-analytics-charts-panel-v2 {
  background: transparent;

  .chart-panel {
    min-width: 660px;

    .chart-content {
      margin-top: 3vh;
    }
  }

  .bx--grid {
    min-width: 100%;
  }

  .bx--col-xlg-6,
  .bx--col-lg-6,
  .bx--col-md-4,
  .bx--col-sm-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}
