/*
	© Copyright IBM Corporation 2022. All Rights Reserved 
	 
	SPDX-License-Identifier: EPL-2.0
*/
aiap-ai-service-external-wa-v2-save-form-v1 {
  background: transparent;

  .password-field-container {
    width: 100%;

    button:hover {
      background-color: transparent;
    }
    ::-ms-reveal {
      display: none;
    }
  }

  .ai--service--external--api--key {
    position: absolute;
    height: 100%;
    right: 0.001%;
  }

  .bx--grid {
    padding-left: 0px;
    padding-right: 0px;
  }
}
