<ibm-sidenav #sideNav allowExpansion="false" class="aca-wbc-ibm-sidenav" [rail]="true" [expanded]="isExpanded"
  (click)="toggleExpansion()">
  <ng-container *ngFor="let view of views" [ngSwitch]="view.type">
    <ng-container *ngSwitchCase="'SINGLE_VIEW'">
      <ibm-sidenav-item
        *ngIf="isSingleViewEnabled(view)"
        (click)="handleShowViewClickEvent(view)">
        <svg
          size="16"
          [ibmIcon]="view?.icon">
        </svg>
        {{{{raw-helper}}}}
        <span>{{view?.name}}</span>
        {{{{/raw-helper}}}}
      </ibm-sidenav-item>
    </ng-container>
    <ng-container *ngSwitchCase="'MULTI_VIEW'">
      <ibm-sidenav-menu 
        *ngIf="isMultiViewEnabled(view)"
        [title]="view?.name">
        <svg style="fill: #fff;" icon [ibmIcon]="view?.icon" size="16"></svg>
        <ng-container *ngFor="let childView of view?.views">
          <ibm-sidenav-item 
            *ngIf="isSingleViewEnabled(childView)"
            (click)="handleShowViewClickEvent(childView)">
            {{{{raw-helper}}}}
            <span>{{childView?.name}}</span>
            {{{{/raw-helper}}}}
          </ibm-sidenav-item>
        </ng-container>
      </ibm-sidenav-menu>
    </ng-container>
  </ng-container>
</ibm-sidenav>
<main class="bx--content">
  <div style="position:fixed; z-index: 10000; right: 10px;" class="notification-container"></div>
  <div class="main-view-container">
    <router-outlet></router-outlet>
  </div>
</main>
