/*
	© Copyright IBM Corporation 2022. All Rights Reserved 
	 
	SPDX-License-Identifier: EPL-2.0
*/
aiap-ai-services-view-v1 {

}

.info-text {
  font-size: 0.70rem;
  color: gray;
}

.center-text {
  text-align: center;
}

.bx--btn__icon {
  padding: unset;
  margin-left: 0;
}

ibm-overflow-menu {
  padding-left: inherit;
  padding-right: inherit;
}

