/*
	© Copyright IBM Corporation 2022. All Rights Reserved 
	 
	SPDX-License-Identifier: EPL-2.0
*/
aca-chat-basket-component {
  .basket-container {
    .basket-footer {
      padding-bottom: 10px;
      padding-left: 20px;
      padding-right: 20px;
      position: fixed;
      bottom: 0;
      width: 100%;
    }

    .basket-footer button {
      width: 50%;
      height: 50px;
      border: 1px solid white;
      background-color: rgb(70, 130, 247);
      color: white;
    }
  }

  .basket-container-empty {
    text-align: center;
  }
}
