/*
	© Copyright IBM Corporation 2022. All Rights Reserved 
	 
	SPDX-License-Identifier: EPL-2.0
*/
aiap-ai-search-and-analysis-service-external-wds-save-form-v1 {
  background: transparent;

  .bx--grid {
    padding-left: 0px;
    padding-right: 0px;
  }

  .password-field-container {
    button {
      position: absolute;
      height: 100%;
      right: 0.001%;
    }
  }
}
