<div class="filters-wrapper">
  <div class="filters-content no-filters">
    <aiap-bread-crumb-v2  
      [outlet]="outlet">
    </aiap-bread-crumb-v2>
    <div class="pl-0" ibmGrid>
      <div ibmRow>&nbsp;</div>
      <div ibmRow>
        <div ibmCol [columnNumbers]="{'xlg': 4, 'lg': 4, 'md': 4, 'sm': 4}">
          <aiap-field-input-v1
            [name]="'ai_search_and_analysis_service_id'"
            [label]="'ai_search_and_analysis_collections_view_v1.fld_service_id.label' | translate"
            [placeholder]="'ai_search_and_analysis_collections_view_v1.fld_service_id.placeholder' | translate"
            [isDisabled]="true"
            [isRequired]="true"
            [(value)]="aiSearchAndAnalysisServiceId">
          </aiap-field-input-v1>
        </div>
        <div ibmCol [columnNumbers]="{'xlg': 4, 'lg': 4, 'md': 4, 'sm': 4}">
          <aiap-field-input-v1
            [name]="'ai_search_and_analysis_project_id'"
            [label]="'ai_search_and_analysis_collections_view_v1.fld_project_id.label' | translate"
            [placeholder]="'ai_search_and_analysis_collections_view_v1.fld_project_id.placeholder' | translate"
            [isDisabled]="true"
            [isRequired]="true"
            [(value)]="aiSearchAndAnalysisProjectId">
          </aiap-field-input-v1>
        </div>
        <div ibmCol [columnNumbers]="{'xlg': 4, 'lg': 4, 'md': 4, 'sm': 4}">
          <aiap-field-input-v1
            [name]="'ai_search_and_analysis_project_type'"
            [label]="'ai_search_and_analysis_collections_view_v1.fld_project_type.label' | translate"
            [placeholder]="'ai_search_and_analysis_collections_view_v1.fld_project_type.placeholder' | translate"
            [isDisabled]="true"
            [isRequired]="true"
            [(value)]="aiSearchAndAnalysisProjectType">
          </aiap-field-input-v1>
        </div>
      </div>
      <div ibmRow>&nbsp;</div>
    </div>
  </div>
</div>

<div class="dashboard-wrapper">
  <div class="dashboard-content">
    <aiap-ai-search-and-analysis-collections-table-v1
      [aiSearchAndAnalysisServiceId]="aiSearchAndAnalysisServiceId"
      [aiSearchAndAnalysisProjectId]="aiSearchAndAnalysisProjectId"
      (onSearchPlace)="handleSearchChangeEvent($event)"
      (onClearPlace)="handleSearchClearEvent($event)"
      (onShowSavePlace)="handleShowSavePlaceEvent($event)"
      (onShowImportPlace)="handleShowImportModalEvent($event)"
      (onShowRemovePlace)="handleShowRemovePlaceEvent($event)"
      (onShowRowClickPlace)="handleShowPlaceEvent($event)"
      (onQueryManyPlace)="handleShowQueryPlaceEvent($event)">
    </aiap-ai-search-and-analysis-collections-table-v1>
  </div>
</div>

<aiap-ai-search-and-analysis-collection-save-modal-v1
  #aiSearchAndAnalysisCollectionSaveModal
  [aiSearchAndAnalysisServiceId]="aiSearchAndAnalysisServiceId"
  [aiSearchAndAnalysisProjectId]="aiSearchAndAnalysisProjectId">
</aiap-ai-search-and-analysis-collection-save-modal-v1>

<aiap-ai-search-and-analysis-collection-delete-modal-v1
  #aiSearchAndAnalysisCollectionDeleteModal
  [aiSearchAndAnalysisServiceId]="aiSearchAndAnalysisServiceId"
  [aiSearchAndAnalysisProjectId]="aiSearchAndAnalysisProjectId">
</aiap-ai-search-and-analysis-collection-delete-modal-v1>

<aiap-ai-search-and-analysis-collection-import-modal-v1
  #aiSearchAndAnalysisCollectionImportModal
  [aiSearchAndAnalysisServiceId]="aiSearchAndAnalysisServiceId"
  [aiSearchAndAnalysisProjectId]="aiSearchAndAnalysisProjectId">
</aiap-ai-search-and-analysis-collection-import-modal-v1>

<aiap-search-and-analysis-collection-query-modal-v1
  #aiSearchAndAnalysisCollectionQueryModal
  [aiSearchAndAnalysisServiceId]="aiSearchAndAnalysisServiceId"
  [aiSearchAndAnalysisProjectId]="aiSearchAndAnalysisProjectId">
</aiap-search-and-analysis-collection-query-modal-v1>
