/*
	© Copyright IBM Corporation 2022. All Rights Reserved 
	 
	SPDX-License-Identifier: EPL-2.0
*/
/* You can add global styles to this file, and also import other style files */
$fa-font-path: "@fortawesome/fontawesome-free/webfonts";

$feature-flags: (
  grid-columns-16: true,
);

@use "@fortawesome/fontawesome-free/scss/fontawesome";
@use "@fortawesome/fontawesome-free/scss/solid";
@use "@fortawesome/fontawesome-free/scss/brands";
@use "@fortawesome/fontawesome-free/scss/regular";

@use "./assets/scss/carbon-overrides.scss";

@use "app/app.component.scss";
