<ibm-modal
  [open]="isOpen"
  size="lg"
  (overlaySelected)="close()">
  <ibm-modal-header (closeSelect)="close()">
    <h2>
      {{'rules_v2.view.rules_save_modal_v2.header' | translate}}
    </h2>
  </ibm-modal-header>
  <section ibmModalContent>
    <form 
      #rulesV2Form="ngForm"
      class="height-100"
      appEffectiveBeforeValidator>
      <!-- Cross-Site Request Forgery [START] -->
      <input type="hidden" name="csrftoken" value="1df93e1eafa42012f9a8aff062eeb1db0380b">
      <!-- Cross-Site Request Forgery [END] -->
      <ibm-tabs>
				<ibm-tab
          #tabGeneral
          heading="General">
          <aiap-rules-tab-general-v2
            [context]="context"
            (contextChange)="handleContextChangeByTabGeneral($event)"
            [value]="rule"
            (valueChange)="handleRuleChangeByTabGeneral($event)">
          </aiap-rules-tab-general-v2>
        </ibm-tab>
				<ibm-tab
          #tabConditions
          heading="Conditions"
          [disabled]="isDisabledRulesTabConditions()"
          (selected)="handleTabConditionsSelect()">
          <aiap-rules-tab-conditions-v2
            #rulesTabConditions
            [value]="rule"
            (valueChange)="handleRuleChangeByTabConditions($event)">
          </aiap-rules-tab-conditions-v2>
        </ibm-tab>
        <ibm-tab
          #tabOutcome
          heading="Outcome"
          [disabled]="isDisabledRulesTabActions()"
          (selected)="handleTabOutcomeSelect()">
          <aiap-rules-tab-outcome-v2
            #rulesTabOutcome
            [context]="context"
            (contextChange)="handleContextChangeByTabOutcome($event)"
            [value]="rule"
            (valueChange)="handleRuleChangeByTabOutcome($event)">
          </aiap-rules-tab-outcome-v2>
        </ibm-tab>
			</ibm-tabs>
    </form>
  </section>
  <ibm-modal-footer>
    <aiap-button-v1
      [type]="'secondary'"
      [text]="'rules_v2.view.rules_save_modal_v2.cancel_button' | translate"
      [tooltip]="'rules_v2.view.rules_save_modal_v2.cancel_button_tooltip' | translate"
      (onClick)="close()">
    </aiap-button-v1>
    <aiap-button-v1
      [type]="'primary'"
      [text]="'rules_v2.view.rules_save_modal_v2.save_button' | translate"
      [tooltip]="'rules_v2.view.rules_save_modal_v2.save_button_tooltip' | translate"
      [disabled]="rulesV2Form.invalid"
      (onClick)="save()">
    </aiap-button-v1>
    <aiap-button-v1
      [type]="'primary'"
      [text]="'rules_v2.view.rules_save_modal_v2.save_and_close_button' | translate"
      [tooltip]="'rules_v2.view.rules_save_modal_v2.save_and_close_button_tooltip' | translate"
      [disabled]="rulesV2Form.invalid"
      (onClick)="saveAndClose()">
    </aiap-button-v1>
  </ibm-modal-footer>
</ibm-modal>
