/*
	© Copyright IBM Corporation 2022. All Rights Reserved 
	 
	SPDX-License-Identifier: EPL-2.0
*/

aiap-ai-translation-prompt-configuration-view-v1 {
  button {
    justify-content: center;
  }

  .filter-content-button {
    margin: auto;
  }

  .bx--grid {
    margin-left: 0px;
    margin-right: 0px;
    min-width: 100%;
    padding-left: 0;
    padding-right: 0;
  }

  .jsoneditor {
    &.jsoneditor {
      border-color: black;
      height: 450px;

      .jsoneditor-menu {
        border-color: black;
        background-color: black;
      }
    }
  }

  .bx--btn {
    justify-content: center;
    padding-right: 15px;
  }

  .bx--btn--secondary {
    float: right;
  }

  .width50 {
    width: 50%;
  }

  .width50 > button {
    width: 100%;
  }

  .dashboard-content {
    margin-top: 0 !important;
  }
}
