/*
	© Copyright IBM Corporation 2022. All Rights Reserved

	SPDX-License-Identifier: EPL-2.0
*/
aiap-classification-category-view-v1 {
  .content-row {
    padding: 4px 0;
  }

  .dashboard-content {
    padding: 0rem 0%;
  }
}
