<ibm-modal 
  [open]="isOpen" 
  (overlaySelected)="close()" 
  size='sm'>
  <ibm-modal-header 
    (closeSelect)="close()">
    <h3 ibmModalHeaderHeading>
      {{'validation_engagements_v1.view.import_modal_v1.header' | translate}}
    </h3>
  </ibm-modal-header>
  <div class="bx--modal-content bx--modal-content--with-form">
    <ibm-file-uploader 
      #fileUploader
      [title]="'validation_engagements_v1.view.import_modal_v1.file_upload_title' | translate" 
      [description]="'validation_engagements_v1.view.import_modal_v1.file_upload_description' | translate" 
      [accept]="['.json']"
      [multiple]="false" 
      drop="true" 
      [dropText]="'validation_engagements_v1.view.import_modal_v1.file_upload_droptext' | translate" 
      [disabled]="false"
      [(files)]="files"
      (filesChange)="onFileAdd($event)">
    </ibm-file-uploader>
  </div>
  <ibm-modal-footer>
    <aiap-button-v1 
      [type]="'secondary'" 
      [text]="'validation_engagements_v1.view.import_modal_v1.cancel_button' | translate"
      [tooltip]="'validation_engagements_v1.view.import_modal_v1.cancel_button_tooltip' | translate"
      (onClick)="close()">
    </aiap-button-v1>
    <aiap-button-v1 
      [type]="'primary'"
      [text]="'validation_engagements_v1.view.import_modal_v1.import_button' | translate"
      [tooltip]="'validation_engagements_v1.view.import_modal_v1.import_button_tooltip' | translate"
      [disabled]="uploadButtonDisabled"
      (onClick)="import()">
    </aiap-button-v1>
  </ibm-modal-footer>
</ibm-modal>
